In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import linear_model
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

In [2]:
all_DataFile = pd.read_csv("all_DatasetFile.csv")
all_DataFileByMonth = pd.read_csv("all_DatasetFileByMonth.csv")

In [76]:
df_status=all_DataFile.copy()
df_status["Status"] = (df_status["sns_drt"] > 400) & (df_status["tmp_air_max"] > 18)
df_status= df_status.drop(['sns_drt','tmp_air_max', 'Date','DeadSeaLevelsInPrecent','rpr_hail','rpr_snow','rpr_gale'],axis=1)
df_status=df_status.dropna()
df_status

     tmp_air_min  DeadSea_Level  Year  Month  Day  Change_from_lasTest  Status
1       5.986000        -399.01  1976      1   11                -0.06   False
2       8.210000        -399.12  1976      1   12                -0.11   False
3       9.412245        -399.05  1977      1    1                 0.07   False
4       8.524490        -399.04  1977      1    2                 0.01   False
5       9.314894        -399.04  1977      1    3                 0.00   False
..           ...            ...   ...    ...  ...                  ...     ...
612     8.424390        -435.28  2021      2   26                 0.03    True
613    14.760241        -436.16  2021      3   10                -0.88    True
614    15.849398        -435.44  2021      4   29                 0.72    True
615    19.459036        -435.55  2021      5   31                -0.11    True
616    23.516867        -436.00  2021      8   29                -0.45    True

[616 rows x 7 columns]

In [77]:
df_status.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 616 entries, 1 to 616
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   tmp_air_min          616 non-null    float64
 1   DeadSea_Level        616 non-null    float64
 2   Year                 616 non-null    int64
 3   Month                616 non-null    int64
 4   Day                  616 non-null    int64
 5   Change_from_lasTest  616 non-null    float64
 6   Status               616 non-null    bool
dtypes: bool(1), float64(3), int64(3)
memory usage: 34.3 KB

In [79]:
TRAINING_FEATURES = df_status.columns[df_status.columns != 'Status'] 
TARGET_FEATURE    = 'Status'
X = df_status[TRAINING_FEATURES]
y = df_status[TARGET_FEATURE]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
clf_model = LogisticRegression().fit(X_train, y_train) #רגרסיה לוגיסטית
y_pred_train=clf_model.predict(X_train)
y_pred=clf_model.predict(X_test)
score = clf_model.score(X_test, y_test) *100
print("train_accuracy = ",accuracy_score(y_true=y_train, y_pred=y_pred_train)) # מציאת הדיוק של אחוז מבדיקת המידע
print("test_accuracy = ",accuracy_score(y_true=y_test, y_pred=y_pred)) # מציאת הדיוק של אחוז בחינת המידע
print(score)  # מציאת הדיוק של החיזוי באחוזים

train_accuracy =  0.8211382113821138
test_accuracy =  0.8064516129032258
80.64516129032258